# Assessment - 2 Gradable

- Each question carries 3 marks
- Marks will be assigned in terms of:
    
    **1. Expected output**
    
    **2. Quality and Explainability of code**

    ***Go back through the script and type a comment above each line explaining in English what it does.***

    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**

### 1.

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [83]:
l2=[]#take an empty list 'l2'
l=[(2,5),(1,2),(4,4),(2,3),(2,1)]#here we have tuples in a list 'l'
for i in l:#iterate the value of tuple in list 'l'
    l1=list(i)#then convert tuples in list
    l2.append(l1)#and insert in empty list 'l2'
print(l2)#then print the list 'l2'
l2.reverse()#then apply reverse method on list 'l2'
print(l2)#then print the list 'l2'

[[2, 5], [1, 2], [4, 4], [2, 3], [2, 1]]
[[2, 1], [2, 3], [4, 4], [1, 2], [2, 5]]

### 2. 

Grab ``StarAgile`` from the following Dictionaries

d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}

d_irritating = {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}

In [1]:
d_difficult={'k1':[{'nest_key':['this is deep',['starsgile']]}]}
d_difficult['k1'][0]#first we are taking the [0] index value of key 'k1', which is 'nest_key'
d_difficult['k1'][0]['nest_key'][1][0]#then we are taking [1] index of key 'nest_key', which is 'staragile' but we are taking it with [0] index as we dont want our output in list

'starsgile'

In [3]:
d_irritating={'k1':[1,2,{'k2':['this is not easy',{'veryIrriating':[1,2,['Staragile']]}]}]}
d_irritating['k1'][2]['k2'][1]['veryIrriating'][2][0]#Similar to the prev. one we are taking [2] index of key 'k1',which is 'k2' and then we are taking [1] index of 'k2' which is 'veryIrriating' and then we are taking [2] index of key 'veryIrriating' with [0] index as we dont want result in list.

'Staragile'

### 3.

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "judgemental" so you should display ‘j’, ‘d’, ‘e’, ‘e’, ‘t’, ‘l’.

In [5]:
a=input("Enter a Word :-")# first we are taking a word as an input
a1=list(a)# then we are casting it in list as we want index of our input
a1[0::2]# then we are giving range starting with an even index which is [0] going till the end by default and make it a jump by 2 as we want only even indexing

Enter a Word :-python

['p', 't', 'o']

### 4. 

Convert the Float Value of '3.8' into Integer, Complex, Binary and Hexidecimal format

In [7]:
a=3.8# here is our given value
type(a)# whose datatype is float

float

In [8]:
a1=int(a)# we are converting it in integer type by casting method 
type(a1)# now checking the type of our data, it becomes integer after casting

int

In [9]:
a2=complex(a)# now we are making our data complex type by again same method 'casting'
type(a2)# then we are checking the datatype it shows complex datatype

complex

In [10]:
a3=bin(a1)# now we are converting our data into binary form, and we have a bin() in python to convert our datatype into binary but we can't change the float type data into binary so we will first convert our data into an integer type (which we have as an 'a1') and now we are coverting our integer type data into 'binary'.
type(a3)# then when we are checking our datatype it will show 'string' because binary datatype is shown as 'str' datatype in python

str

In [11]:
a4=hex(a1)# now we are changing our data into hexadecimal,again we cant change float type of data so we are converting our integer type of data which is 'a1' with the help of hex method.
type(a4)# then we are checking the datatype it will also show as 'str'

str

### 5. 

Write a program to accept five names from the user and store it in a Tuple 'T1'

In [12]:
a=input("Enter First name ")
b=input("Enter Second name ")
c=input("Enter Third name ")
d=input("Enter Forth name ")
e=input("Enter Fifth name ") # first we have taken the five name as as string from user
f=(a,b,c,d,e)# then we combined it and make it as a list
t1=tuple(f)# and then we changed it in tuple 
t1# and at last we print the result which is stored in variable 't1'

Enter First name Apple
Enter Second name boy
Enter Third name cat
Enter Forth name dog
Enter Fifth name elephant

('Apple', 'boy', 'cat', 'dog', 'elephant')